@import "tailwindcss";

@theme {
  --color-primary: #1a202c;
  --color-secondary: #2d3748;
  --color-text-main: #e2e8f0;
  --color-text-secondary: #a0aec0;
  --color-highlight: #f59e0b;

  --font-family-sans: "Inter", sans-serif;
  --font-family-serif: "Lora", serif;
}
